
<link rel="stylesheet" type="text/css" href="css/home.css">
<script src="/js/home.js" defer></script>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MARINE GYM</title>

<style>
body {
	margin: 0px;
}

.homediv {
	background-image: url('Image/home_background.png');
	background-size: 100%;
	width: 100%;
	height: 936.5px;
	
}
</style>


</head>
<body>

	<div>
	<img src = "Image/home_background.png" loading = "lazy" width = "100%" height = "100%">
	</div>

</body>
</html>