<link rel="stylesheet" type="text/css" href="/css/home.css">
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="/js/home.js" defer></script>


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>MARINE GYM</title>
</head>

<body>

	<div class="menudiv">
		<ul style="padding-inline-start : 100px;">
			<li><a class="menu_a">HOME</a></li>
			<li><a class="menu_a">PROGRAM</a></li>
			<li><a class="menu_a">TRAINERS</a></li>
			<li><a class="menu_a">SERVICES</a></li>
			<li><a class="menu_a">MARCHINE</a></li>
			<li><a class="menu_a">CONTACT</a></li>

			<div class="menuImg_blog"></div>
			<div class="menuImg_insta"></div>
		</ul>
	</div>

	<div class="homediv">
		<img src="Image/home_background.jpg" width="100%" height="100%">
	</div>

	<div class="homediv">
		<img src="Image/program_background.jpg" width="50%" height="100%">
	</div>

</body>

</html>