@charset "UTF-8";

@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';

body {
	margin: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

li {
	list-style: none;
}

.menudiv li {
	display: inline-block;
	height: 100%;
	text-align: center;
	margin-right: 40px;
	color: #B4C7E7;
	margin-top: 25px;
	font-size: large;
}

.menudiv ul {
	/*text-align: center;*/
		padding-inline-start: 85px;
}

.menudiv li a {
	cursor: default;
}

.menuImg_Logo {
	background: url('../Image/marinegym_Logo_Blue.png');
	float: left;
	width: 100px;
	height: 70px;
	background-size: cover;
	margin-top: 18px;
	margin-right: 25px;
	margin-left: 25px;
}

.menuImg_Logo:hover {
	cursor: pointer;
}

.menuImg_blog {
	background: url('../Image/blog_Blue_small.png');
	float: right;
	width: 30px;
	height: 30px;
	background-size: cover;
	margin-top: 40px;
	margin-right: 25px;
}

.menuImg_blog:hover {
	cursor: pointer;
}

.menuImg_insta {
	background: url('../Image/instagram_Blue_small.png');
	float: right;
	width: 30px;
	height: 30px;
	background-size: cover;
	margin-top: 40px;
	margin-right: 25px;
}

.menuImg_insta:hover {
	cursor: pointer;
}

.menudiv {
	width: 100%;
	height: 25px;
	position: fixed;
	z-index:10;
}

.menu_sub_div {
	margin: auto;
}

.menu_sub_div_min {
	display: none;
	margin: auto;
}

.logodiv {
	position: fixed;
	width: 155px;
	z-index:10;
}

.homediv {
	width: 100%;
	height: 100vh;
	opacity: 0;
	background-color: rgb(203, 220, 247);
}

input[type='radio'] {
	-webkit-appearance: none;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	outline: none;
	border: 2px solid gray;
}

input[type='radio']:before {
	content: '';
	display: block;
	width: 11px;
	height: 11px;
	margin-left: -2px;
	margin-top: -2px;
	border-radius: 50%;
}

input[type="radio"]:checked:before {
	background: gray;
}

.programdiv {
	width: 100%;
	height: 100vh;
}

.trainersdiv {
	width: 100%;
	height: 100vh;
}

.servicesdiv {
	width: 100%;
	height: 100vh;
}

.updown {
	animation: motion 0.5s linear 0s infinite alternate;
	margin-top: 0;
	-webkit-animation: motion 0.5s linear 0s infinite alternate;
	position: absolute;
}

.container{
	width:1000px;
	height:600px;
	position:relative;
}

h1{
	font-size:75px;	
	text-transform: uppercase;
}

h1 span{
	width:100%;
	float:left;
	color: #ffffff;
	-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
	clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
	transform: translateY(-50px);
	animation-name: titleAnimation;	
	animation-timing-function:ease;
	animation-duration: 3s;
	animation-delay: 0.6s;
}

@keyframes titleAnimation{
	 0% {
      transform: translateY(-50px);
      opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
      transform: translateY(0);
      opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
       transform: translateY(0);
       opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
       transform: translateY(50px);
       opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
      clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
    
  }
}

@keyframes motion { 
	0%{margin-top: 3px;}
    100% { margin-top : 18px;}
}
@media ( max-width :1110px) {
	.menu_sub_div {
		width: 500px;
	}
	.menuImg_insta {
		margin-right: 15px;
	}
	.menudiv li {
		margin-top: 12px;
	}
	#menu_a_line_1 {
		padding-left: 12px;
	}
	#menu_a_line_2 {
		padding-left: 13px;
	}
	#menu_a_line_3 {
		padding-left: 2px;
	}	
	
	.hometext{
	 	width: 700px;
	 	height:300px;
	 	margin-top:-150px;
	}
}

@media ( max-width :800px) {
	.menudiv li {
		font-size: medium;
	}
	.logodiv {
		left: 50%;
		margin-left: -77px;
	}
	.menu_sub_div {
		margin-top: 80px;
		width: 400px;
	}
	.menuImg_blog {
		margin-top: 30px;
		margin-right: 15px;
		width: 25px;
		height: 25px;
		width: 25px;
	}
	.menuImg_insta {
		margin-top: 30px;
		margin-right: 10px;
		width: 25px;
		height: 25px;
		width: 25px;
	}
	
	.hometext{
	 	width: 400px;
	 	height:180px;
	 	margin-top:-90px;
	}
}

@media ( max-width :415px) {
	.menudiv ul {
		padding-inline-start: 25px;
	}
	
	.hometext{
	 	width: 260px;
	 	height:120px;
	 	margin-top:-90px;
	}
}

@media ( max-width :376px) {
	.menudiv ul {
		padding-inline-start: 0px;
	}
}

@media ( max-height : 400px) {
	#scrollmove {
		display: none;
	}	
	
	.hometext{	 	
	 	margin-top:-30px;
	}
}