@charset "UTF-8";

body {
	margin: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

li {
	list-style: none;
}

.menudiv li {
	display: inline-block;
	height: 100%;
	text-align: center;
	margin-right: 25px;
	color: #B4C7E7;
	margin-top: 25px;
	font-size: 17px;
	font-family:sbLight;
}

.menudiv ul {
	/*text-align: center;*/
		padding-inline-start: 75px;
}

.menudiv li a {
	cursor: default;
}

.menuImg_Logo{
	background: url('../Image/logo.png');
	float: left;
	width: 70px;
	height: 50px;
	background-size: cover;
	margin-top: 27px;
	margin-right: 25px;
	margin-left: 25px;
}

.menuImg_Logo:hover {
	cursor: pointer;
}

.menuImg_blog {
	background: url('../Image/blog_Blue_small.png');
	float: right;
	width: 30px;
	height: 30px;
	background-size: cover;
	margin-top: 40px;
	margin-right: 25px;
}

.menuImg_blog:hover {
	cursor: pointer;
}

.menuImg_insta {
	background: url('../Image/instagram_Blue_small.png');
	float: right;
	width: 30px;
	height: 30px;
	background-size: cover;
	margin-top: 40px;
	margin-right: 25px;
}

.menuImg_insta:hover {
	cursor: pointer;
}

.menudiv {
	width: 100%;
	height: 25px;
	position: fixed;
	z-index:10;
}

.menu_sub_div {
	margin: auto;
	margin-left: 55px;
}

.menu_sub_div_min {
	display: none;
	margin: auto;
}

.logodiv{
	position: fixed;
	width: 155px;
	z-index:10;
}

.homediv {
	width: 100%;
	height: 100vh;
	opacity: 0;
	background-color: rgb(203, 220, 247);
}

input[type='radio'] {
	-webkit-appearance: none;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	outline: none;
	border: 2px solid gray;	
	opacity:0.7;
}

input[type='radio']:before {
	content: '';
	display: block;
	width: 11px;
	height: 11px;
	margin-left: -2px;
	margin-top: -2px;
	border-radius: 50%;	
}

input[type="radio"]:checked:before {
	background: gray;
	opacity:0.7;
}

.programdiv {
	width: 100%;
	height: 100vh;
}

.trainersdiv {
	width: 100%;
	height: 100vh;
}

.servicesdiv {
	width: 100%;
	height: 100vh;
}

.updown {
	animation: motion 0.5s linear 0s infinite alternate;
	margin-top: 0;
	-webkit-animation: motion 0.5s linear 0s infinite alternate;
	position: absolute;
}

@keyframes motion { 
	0%{margin-top: 3px;}
    100% { margin-top : 18px;}
}

.container{	
	position:absolute;
	overflow:hidden;
	animation:fadein 1s ease-in-out;
	top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -250px;
    height:250px;
}

@keyframes fadein{
 0% {
      opacity: 0;
      transform:translateY(15px);
  } 
  100% {
       opacity:1;
       transform:none;    
  }
}  

#menu-toggle{
	opacity:0;
	position:fixed;
}

#menu-toggle:checked + .menu-btn > span{
	transform:rotate(45deg);
	background-color: #5F5F5F;	
}

#menu-toggle:checked + .menu-btn > span::before{
	top:0;
	transform: rotate(0deg);
	background-color: #5F5F5F;
}

#menu-toggle:checked + .menu-btn > span::after{
	top:0;
	transform:rotate(90deg);
	background-color: #5F5F5F;
}

#menu-toggle:checked ~ .menu-items{
	left:0 !important;
}


.menu-btn{
	position:fixed;
	top:30px;
	left:20px;
	width:26px;
	height:26px;
	cursor:pointer;
	z-index: 20;
}
  
.menu-btn > span, .menu-btn > span::before, .menu-btn > span::after{
	display:block;
	position:absolute;
	width:100%;
	height:3px;
	background-color: gray;
	transition-duration: .25s;
	
}

.menu-btn > span::before{
	content:'';
	top: -8px;
}

.menu-btn > span::after{
	content:'';
	top:8px;
}

.hamburger-logo{
	background: url('../Image/logo.png');
	width: 100px;
	height: 70px;
	background-size: cover;
	opacity: 0.8;
}

.menu-items{
	display:block;
	position:fixed;
	top:0;
	left:-100%;
	width:250px;
	height:100%;
	margin:0;
	list-style: none;
	background-color: #DDDDDD;
	box-shadow: 2px 2px 6px rgba(0,0,0, .4);
	transition-duration: .25s;
	z-index: 15;
	opacity: 0.7;
	padding:70px 0;
}

.hamburger-container{
	display:none;
}

.menu-item{
	display:block;
	padding:12px 24px;
	color: #333333;
	font-size:20px;
	font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu-item:hover{
	background-color: #B8B8B8;
}

.marinegym-text{
	font-size: 70px; 
	color: #006BFF; 
	text-align: center; 
	line-height: 70px;
	font-family:"sbBold";
}

.exercisecenter-text{
	font-size: 43px; 
	text-align: center; 
	color: white; 
	line-height: 40px;
	font-family:"sbBold";
}

.diet-text{
	font-size: 30px; 
	text-align: center; 
	color: white; 
	line-height: 40px;
	font-family:"sbBold";
}

@font-face{
	font-family: "gothic";
	src: url("../font/Gothic.otf")
}

@font-face{
	font-family: "gothicBold";
	src: url("../font/GothicBold.otf")
}

@font-face{
	font-family: "sbBold";
	src: url("../font/SBBold.otf")
}

@font-face{
	font-family: "sbLight";
	src: url("../font/SBLight.otf")
}
@font-face{
	font-family: "sbMidium";
	src: url("../font/SBMidium.otf")
}

@media (max-width: 900px){
	
 .hamburger-container{
	position:absolute;
	display:block;
}

.menuImg_Logo{
	width:60px;
	height:40px;	
	margin-top: 12px;
}

.logodiv{
	margin-left: 40px;	
}

.menudiv{
	display:none;
}

}

@media (max-width: 650px){
	
.marinegym-text{
	font-size:40px;
	line-height: 30px;
	}
	
.exercisecenter-text{
	font-size: 25px; 
	line-height: 15px;
}

.diet-text{
	font-size: 15px;
    line-height: 10px;
}
	
.container{
margin-left: -125px;
margin-top: -50px;
}

}

@media (max-height: 480px){
	
.marinegym-text{
	font-size:40px;
	line-height: 30px;
	}
	
.exercisecenter-text{
	font-size: 25px; 
	line-height: 15px;
}

.diet-text{
	font-size: 15px;
    line-height: 10px;
}
	
.container{
margin-left: -125px;
margin-top: -50px;
}

}


